# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [61]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:
pokemon = pd.read_csv('./../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
# Your code here:
mean_legendary=pokemon[pokemon['Legendary']==True]['Total'].mean()
std_legendary=pokemon[pokemon['Legendary']==True]['Total'].std()
mean_NOlegendary=pokemon[pokemon['Legendary']==False]['Total'].mean()
std_NOlegendary=pokemon[pokemon['Legendary']==False]['Total'].std()

legendary_stats = [mean_legendary,std_legendary]
NOlegendary_stats = [mean_NOlegendary,std_NOlegendary]

legendary = pd.DataFrame(list(zip(legendary_stats,NOlegendary_stats)), columns=['Legendary','No Legendary'], index =['mean','std']) 
legendary

       Legendary  No Legendary
mean  637.384615    417.213605
std    60.937389    106.760417

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
# Your code here:
t, p = ttest_ind(pokemon[pokemon['Legendary']==True]['Total'],pokemon[pokemon['Legendary']==False]['Total'], equal_var = False)
print(t,p)

25.8335743895517 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
As the pvalue is very little the nul hypotesis is rejected hende the means are different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [43]:
# Your code here:
pokemon['Type 1'].value_counts()

#pokemon.gorupyby['Type 1']

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [46]:
# Your code here:
mean_water=pokemon[pokemon['Type 1']=='Water']['Total'].mean()
std_water=pokemon[pokemon['Type 1']=='Water']['Total'].std()
mean_NOwater=pokemon[pokemon['Type 1']!='Water']['Total'].mean()
std_NOwater=pokemon[pokemon['Type 1']!='Water']['Total'].std()

In [47]:
#Obteniendo la tabla con ciclo for
type1_pok = pokemon['Type 1'].unique()
stats_pokemon = pd.DataFrame(index=['mean', 'std'])
col_names = []
for type1 in type1_pok :
        type1_mean = pokemon[pokemon['Type 1']==type1]['Total'].mean()
        type1_std=pokemon[pokemon['Type 1']==type1]['Total'].std()
        col = pd.DataFrame([type1_mean, type1_std],index=['mean', 'std'])
        #col_names.append(type1)
        stats_pokemon = pd.concat([stats_pokemon, col],axis=1)
        #print(type1_mean, type1_std)
stats_pokemon.columns= type1_pok     
stats_pokemon

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
mean,421.142857,458.076923,430.455357,378.927536,401.683673,399.142857,443.409091,437.500000,413.176471,416.444444,475.947368,453.750000,439.562500,433.458333,550.531250,445.741935,487.703704,485.000000
std,106.650626,109.760496,113.188266,117.875223,115.733038,92.358687,105.721952,123.913081,123.781680,102.464378,139.026645,108.059227,110.072685,108.281027,146.267538,109.126217,115.420907,161.400124

In [50]:
#Solución Paty
lista_mean = pokemon.groupby('Type 1')[['Total']].mean()
lista_std = pokemon.groupby('Type 1')[['Total']].std()
#lista_mean['comparacion'] = mean_water
#lista_std['comparacion'] = std_water
lista_std
type(lista_mean)

pandas.core.frame.DataFrame

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [56]:
# Your code here:
ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'],pokemon[pokemon['Type 1']!='Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

# Your conclusions here:
As the pvalue is bigger than 0.05 the null hypotest is accepted. The means are equall.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [58]:
# Your code here:
ttest_ind(pokemon.Attack,pokemon.Defense)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
Pvalue is smaller than 0.05 the null hypotesis is rejected. The means are different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [62]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#The pvalue is greater than 0.05 then the null hypotesis is accepted. The mean Special Atack and special defense are equal.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
ttest_1samp(pokemon['Sp. Atk'],pokemon['Sp. Def'])

#La diferencia entre ataque y defensa no es igual a cero es decir existe diferencia 
#entre el ataque espacila y la defensa. 
#There are differences betwen atack and defense.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: